{
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": ["warn", { "vars": "local" }],
    "no-console": 0
  }
}
